* {
    box-sizing: border-box;
    margin: 0px;
}

/* Partes Pincipales */

.body, .header, .main, .footer {
    /* border: 2px black solid; */
}
body {
    width: 100%;
    height: 1400px;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
main {
    width: 100%;
    height: 90%;
    background-color: #fffbf7;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top: 120.25px;
    left: 0; 
}
footer {
    width: 100%;
    height: 10%;
    background-color: #AB6E42 ;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 120.25px;
    left: 0; 
}

/* Partes del Header */

.logo {
    width: 17%;
    height: 100%;
    margin-left: 8em;
    display: flex;
}
.menu {
    width: 47%;
    height: 100%;
    margin-right: 2em;
    display: flex;
}

/* ------- */

.menu ul{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.menu li{
    width: auto;
    height: auto;
    list-style: none;
}
.menu a{
    color: #AB6E42;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.8em;
    border-radius: 0.8em;
    text-decoration: none;
}
.menu a:hover{
    color: #eee2c9;
    background-color: #AB6E42;
    border-radius: 0.8em;
    transition: 1.5s;
}

/* Partes del Main */

/* Parte1 */

.parte1{
    width: 100%;
    height: 50%;
    /* border: 2px black solid; */
}
.imagen-principal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.frase-principal{
    width: min-content;
    height: auto;
    font-size: 1.8em;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: left;
    color: #AB6E42;
    position: absolute;
    top: 240px;
    left: 150px;
}

/* ------- */

.imagen-principal img{
    width: 80%;
    height: 100%;
}


/* Parte2 */

.parte2{
    width: 100%;
    height: 50%;
    /* border: 2px black solid; */
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
}
.slider-spa, .tratamientos, .imagen-principal {
    border: 2px black solid;
}
.slider-spa{
    width: 30%;
    height: 100%;
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}
.tratamientos{
    width: 50%;
    height: 100%; 
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #AB6E42;
}

/* ------- */

.slider-spa ul{
    display: flex;
    padding: 0%;
    width: 300%;
    height: 100%;
    animation: slide 10s infinite alternate linear;
}
.slider-spa li{
    list-style: none;
    width: 100%;
}
.slider-spa img{
    width: 100%;
    height: 100%;
}
.tratamientos ul{
    padding: 0;
    margin: 0;
}
.tratamientos li{
    list-style: none;
    margin: 1.5em 0 1.5em 0;
    padding: 1.5em;
    background-color: #E8DCB6;
    border: #AB6E42 solid;
    border-radius: 1em;
    box-shadow:#AB6E42  10px 10px;
}

/* Partes del Footer */

footer a{
    color: black;
}


/* Animacion del Main */

 @keyframes slide {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;} 
}