* {
    box-sizing: border-box;
    margin: 0px;
}

/* Partes Pincipales */

.body, .header, .main, .footer {
    /* border: 2px black solid; */
}
body {
    width: 100%;
    height: 350vh;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
main {
    width: 100%;
    height: 92%;
    background-color: #fffbf7;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top: 120.25px;
    left: 0; 
}
footer {
    width: 100%;
    height: 8%;
    background-color: #AB6E42 ;
    color: #eee2c9;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 120.25px;
    left: 0; 
}

/* Partes del Header */

.logo {
    width: 17%;
    height: 100%;
    margin-left: 8em;
    display: flex;
}
.menu {
    width: 47%;
    height: 100%;
    margin-right: 2em;
    display: flex;
}

/* ------- */

.menu ul{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.menu li{
    width: auto;
    height: auto;
    list-style: none;
}
.menu a{
    color: #AB6E42;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.8em;
    border-radius: 0.8em;
    text-decoration: none;
}
.menu a:hover{
    color: #eee2c9;
    background-color: #AB6E42;
    border-radius: 0.8em;
    transition: 1.5s;
}

/* Partes del Main */

/* Parte1 */

.parte1{
    width: 100%;
    height: 45%;
    position: relative;
    display: flex;
    /* border: 2px black solid; */
}
.imagen-principal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.frase-principal{
    width: min-content;
    height: auto;
    margin: auto;
    font-size: 2.2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #AB6E42;
    position: absolute;
    top: 80px;
    left: 10%;
    z-index: 8;
}
.imagen-principal::before{
    content: "";
    padding-top: 100%;
}

/* ------- */

.imagen-principal img{
    width: 80%;
    height: 100%;
}

/* Parte2 */

.parte2{
    width: 100%;
    height: 18%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.parte2 img{
    width: 20%;
    height: 60%;
}

/* ------- */

.nosotros{
    width: 50%;
    height: 60%;
}
.nosotros h2{
    padding-bottom: 60px;
    color: #AB6E42;
    font-weight: bold;
    font-size: 2.5em;
}
.nosotros p{
    text-align: justify;
}
/* Parte3 */

.parte3{
    width: 100%;
    height: 37%;
    /* border: 2px black solid; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.tratamientos, .imagen-principal {
    /* border: 2px black solid; */
}

.tratamientos{
    width: 100%;
    height: 50%; 
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    color: #AB6E42;
    /* border: #AB6E42 solid; */
}
.imagenes-tratamientos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* ------- */

.tratamientos h2{
    padding: 10px;
    background-color: #AB6E42;
    color: #eee2c9;
    font-size: 2em;
    border-radius: .5em;
}
.tratamientos ul{
    width: 100%;
    padding: 100px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.tratamientos li{
    list-style: none;
    width: 25%;
    height: 150px;
    margin: 0 4.75px 0 4.75px;
    padding: 0 1.5em 0 1.5em;
    background-color: #E8DCB6;
    border: #AB6E42 solid;
    border-radius: 10px;
    position: relative;
}
.tratamientos div {
    width: 100%;
    height: 50px;
    color: #eee2c9;
    background-color:#AB6E42;
    border: #AB6E42 solid;
    border-radius: .5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
    left: 0px;
}
.imagenes-tratamientos ul{
    width: 100%;
    height: auto;
}
.imagenes-tratamientos li{
    padding: 20px;
}
.imagenes-tratamientos img{
width: 25%;
height: 100%;
padding: 10px;
}

/* Partes del Footer */

footer a{
    color: #eee2c9;
}


/* Animacion del Main */

@media screen and (max-width 768px){
    
    .body{
        height: 100vh;
    }
}